<div class="flex space-x-4 justify-center mt-4">
  <button mat-fab color="primary" (click)="tick()" [disabled]="!canTick">
    <mat-icon>skip_next</mat-icon>
  </button>

  <button
    mat-fab
    color="primary"
    (click)="startTicking()"
    *ngIf="!ticker"
    [disabled]="!canTick"
  >
    <mat-icon>play_arrow</mat-icon>
  </button>

  <button mat-fab color="warn" (click)="stopTicking()" *ngIf="ticker">
    <mat-icon>stop</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="reset()" [disabled]="!canReset">
    <mat-icon>refresh</mat-icon>
  </button>

  <button mat-fab color="accent" (click)="zoomIn()" [disabled]="!canZoomIn">
    <mat-icon>zoom_in</mat-icon>
  </button>

  <button mat-fab color="accent" (click)="zoomOut()" [disabled]="!canZoomOut">
    <mat-icon>zoom_out</mat-icon>
  </button>
</div>
