<div class="flex space-x-4 justify-center mt-4">
  <button
    mat-fab
    color="primary"
    (click)="tick()"
    [disabled]="
      !(canGenerateNextGeneration$ | async) || (isTickerActive$ | async)
    "
  >
    <mat-icon>skip_next</mat-icon>
  </button>

  <button
    mat-fab
    color="primary"
    (click)="startTicking()"
    *ngIf="!(isTickerActive$ | async)"
    [disabled]="!(canGenerateNextGeneration$ | async)"
  >
    <mat-icon>play_arrow</mat-icon>
  </button>

  <button
    mat-fab
    color="warn"
    (click)="stopTicking()"
    *ngIf="isTicking$ | async"
  >
    <mat-icon>stop</mat-icon>
  </button>

  <button
    mat-fab
    color="primary"
    (click)="reset()"
    [disabled]="!(canReset$ | async)"
  >
    <mat-icon>refresh</mat-icon>
  </button>

  <button
    mat-fab
    color="accent"
    (click)="zoomIn()"
    [disabled]="!(canZoomIn$ | async)"
  >
    <mat-icon>zoom_in</mat-icon>
  </button>

  <button
    mat-fab
    color="accent"
    (click)="zoomOut()"
    [disabled]="!(canZoomOut$ | async)"
  >
    <mat-icon>zoom_out</mat-icon>
  </button>
</div>
